:root {
    --main-red: #E80523;
}

/* Base style reset */

* {
    margin: 0;
    padding: 0;
}

/* Box-sizing and font sizing */

*::before,
*::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    /* Default font size is 16px
    * If we want a font size of 10px we can do ( 10 / 16 ) * 100 = 62.5%
    * Then later whenever we want a specific font size we can now multiply by rem values        * (e.g. 1.6rem = 1.6 x 10px = 16px)
    */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* 1200 px / 16px = 75em */
@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
}
  
/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
}
  
/* 500px / 16px = 31.25em */
@media (max-width: 31.25em) {
    html {
      font-size: 55%;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    display: block;
    width: 100%;
}

/* Base styles */

body {
    font-family: sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
}

h1,
h2 {
    font-family: sans-serif;
    text-align: center;
}

#nav-h1,
#nav-h2 {
    text-align: left;
}

/* Navbar style */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0 0.5rem 1rem gray;
}


@media (max-width : 90em) {
    .navbar {
        flex-direction: column;
    }
}

.logo {
    display: flex;
    padding: 0.5rem 2rem 2rem 2rem;
    align-items: center;
    height: 100px;
}

#nav-image-container {
    height: auto;
    width: auto;
    text-align: center;
    margin: auto;
}

.nav-image {
    height: 8rem;
    width: 8rem;
    object-position: 0px 0px;
    object-fit: cover;
    border-style: solid;
    border-radius: 50%;
    border-width: 5px;
    border-color: var(--main-red);
}

#header-text {
    padding: 0 2rem;
}

#nav-h1 {
    font-size: 4rem;
}

#nav-h2 {
    font-size: 2.4rem;
}

@media (max-width : 90em) {
    #nav-h1 {
        font-size: 3rem;
    }

    #nav-h2 {
        font-size: 1.9rem;
    }
}

#nav-header-bold {
    text-transform: uppercase;
    color: var(--main-red);
}

.nav-list {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.nav-list li {
    display: block;
    font-size: 1.8rem;
    padding: 2rem;
}

@media (max-width : 90em) {
    .nav-list li {
        font-size: 1.6rem;
        padding: 1rem;
    }
}

/* Welcome section style */

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: var(--main-red);
    background-image: linear-gradient(62deg, var(--main-red) 0%, #7c0101 100%);
}

.content-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
    height: auto;
    margin-top: 10rem;
    width: 90%;
    max-width: 1280px;
    background: white;
    box-shadow: 0.5rem 0.5rem 1rem black;
}

.content-block img {
    align-self: flex-start;
    padding-top: 6rem;
    max-width: 377px;
    max-height: 282px;
}

.content-block-rh {
    display: flex;
    flex-direction: column;
    padding: 6rem 1rem;
    max-width: 50%;
}

.content-block-rh p {
    padding: 1rem 0;
}

@media (max-width : 90em) {
    .content-block {
        flex-direction: column;
        margin: 25rem 0 5rem 0;
    }

    .content-block img {
        align-self: center;
        flex-shrink: 1;
        width: 75%;
    }

    .content-block-rh {
        max-width: 85%;
    }
}